body {
    --p-border-radius-extra-small: 3px; // 超小圆角
    --p-border-radius-small: 3px; // 小圆角
    --p-border-radius-medium: 6px; // 中圆角
    --p-border-radius-large: 12px; // 大圆角
    --p-border-radius-circle: 50%; // 全圆角
    --p-border-radius-full: 9999px; // 全尺寸圆角
}