@import '../../../_styles/theme/index.scss';

$anchor-prefix-cls: #{$prefix}-anchor;

.#{$anchor-prefix-cls} {
  &-background {
    background-color: yellow;
  }
  &-rail {
    background-color: green;
  }
}